/* These classes are the Bone's CSS "API" and are actually intended to ship
 * with the bone */
.bone-flex-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    transition: all 300ms ease;
    /*overflow: hidden;*/
}

.bone-flex-header-brand {
    line-height: 100px;
}

.bone-flex-header-inner {}

@media (min-width: 60em) {
    .bone-flex-header {
        height: 250px;
    }

    .bone-flex-header-brand {
        line-height: 250px;
    }

    .bone-flex-header.bone-flex {
        height: 100px;
    }

    .bone-flex-header.bone-flex .bone-flex-header-brand {
        line-height: 100px;
        font-size: 45px;
    }
}
/* End Bone code */
