/* Everything else is here for the example code */

body {
    padding-top: 100px;
}

.header-fg {
    background-color: #41451A;
    color: white;
}

h1 {
    font-size: 3rem;
}

.content {
    margin-top: 2rem;
}


@media (min-width: 60em) {
    h1 { font-size: 5rem; }

    body {
        padding-top: 250px;
    }

    .content {
        margin-top: 4rem;
    }
}

@media (max-width: 35em) {
    .u-hidden-xs { display: none !important; }
}

@media (min-width: 35em) and (max-width: 45em) {
    .u-hidden-sm { display: none !important; }
}

@media (min-width: 45em) and (max-width: 60em) {
    .u-hidden-md { display: none !important; }
}

